body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(255, 175, 189), rgb(255, 195, 160));
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  text-align: center;
  width: 420px;
  transition: transform 0.2s;
}

.container:hover {
  transform: scale(1.02);
}

h1 {
  color: #ED4264;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 130px;
  margin-top: 10px;
  padding: 12px;
  border: 2px solid #C779D0;
  border-radius: 10px;
  resize: none;
  font-size: 14px;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  background: linear-gradient(to right, rgb(119, 161, 211), rgb(121, 203, 202), rgb(230, 132, 174)););
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(to right, rgb(119, 161, 211), rgb(121, 203, 202), rgb(230, 132, 174));
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px;
  border-radius: 10px;
}
